html {box-sizing:border-box;}
*,* :after, *:before {box-sizing:inherit;}

body {
	background-color: rgb(40, 41, 35);
	font-family: Arial, sans-serif;
}

li {
	list-style: none;
}

.octodex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
}

.octocat {
	display: flex;
	flex-direction: column;
}


.image-footer {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	border-bottom: solid;
	border-width: 1px;
	border-bottom-color: rgb(202, 202, 202);
	margin-bottom: 20px;
	padding: 0px 10px;
	font-size: 30px;
}

.image-footer a {
	text-decoration: none;
}

.image-number {
	color: rgb(202, 202, 202);
	line-height: 50px;
}

.image-number::before {
	content: "#";
}

.image-caption {
	display: flex;
	flex-direction: row;
	color: rgb(119, 119, 119);
	line-height: 50px;
}
.image-caption>a {
	margin: 0px 5px;
}

.authors {
	color: rgb(119, 119, 119);
}

.authors img {
	height: 50px;
	width: 50px;
}

.octocat>a>img {
	border-color: rgb(202, 202, 202);
	border-width: thin;
	border-style: solid;
	border-radius: 10px;
	margin: 10px;
}

.image-footer>a:link {
	color: rgb(51, 51, 51);
}

.octocat>a:visited {
	color: rgb(202, 202, 202);
}

a:hover {
	color: orange;
}

